@import "normalize.css";

html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6%;
    background-color: #f2f2f2;
}

button {
    margin: 0 5% 10% 5%;
    cursor: pointer;
}

*, *::before, *::after {
    box-sizing: border-box;
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes square {
    0% {
        border-radius: 50%;
    }

    100% {
        border-radius: 10px;
    }
}

@keyframes round {
    0% {
        border-radius: 10px;
    }

    100% {
        border-radius: 50%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.button1 {
    padding: 1% 2%;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1em;
    font-weight: bold;
    background-color: indianred;
    border: 8px tan dashed;
    color: whitesmoke;
    border-radius: 10px;
}

.button1:hover {
    box-shadow: 0 0 4px 4px #ec9560;
}

.button1:active {
    border-color: #ff9728;
    box-shadow: 0 0 2px 2px #757575;
}

.button2 {
    display: flex;
    align-items: center;
	position: relative;
	z-index: 0;
	height: 40px;
    border: none;
	border-radius: 10px;
	overflow: hidden;
	padding: 2rem;
}

.button2::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #299DA2;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: 0 0, 100% 100%;
    background-image: linear-gradient(#299DA2, #299DA2), linear-gradient(#D95043, #D95043);
    animation: rotate 4s linear infinite;
}

.button2::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: whitesmoke;
    border-radius: 5px;
}

.button3 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 1.1rem;
    font-weight: 400px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid #1a1a1a;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.button3::after {
    content: "";
    background-color: #b6bfa8;
    background-color: rgba(59, 140, 110, 0.6);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: -7px;
    left: -7px;
    transition: 0.2s;
}

.button3:hover::after, .button3:active::after {
    top: 0px;
    left: 0px;
}

.button4 {
    width: 120px;
    height: 40px;
    padding: 2px;
    background-color: #73009a;
    color: #f2f2f2;
    border-radius: 10px 10px 0 0;
    border: 6px double #c17cf0;
}

.button4:hover {
    font-weight: bold;
    letter-spacing: 0.1em;
    border-color: darkgrey;
}

.button5 {
    background-color: #FAFBF9;
    border-radius: 4px;
    border: 2px solid #97b8e3;
    box-shadow: 0 1px 1px #97b8e3;
    padding: 2% 4%;
}

.button5:hover {
    cursor: pointer;
    border-style: solid;
    box-shadow: 0 0 1px #e8e8e8;
    background-color: #e9eff3;
}

.button5:active {
    cursor: pointer;
    border-style: inset;
    box-shadow: 0 0 1px #757575;
    border: 2px solid #757575;
    background-color: #e2e2e2;
}

.button6 {
    width: 120px;
    position: relative;
    background-color: #F2DC88;
    border: 4px ridge violet;
    border-radius: 50px;
    padding: 2% 0;
    font-weight: bold;
    box-shadow: 0px 3px 2px gray;
}

.button6::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    border: 6px dotted #8C3926;
    animation: rotate 6s linear infinite;
}

.button6::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    border: 6px dotted #8C3926;
    animation: rotate 6s linear infinite;
}

.button6:hover {
    border-style: inset;
    box-shadow: none;
}

.button6:active::before, .button6:active::after {
    animation-play-state: paused;
}

.button7 {
    position: relative;
    overflow: hidden;
    width: 120px;
    height: 40px;
    background-color: #305e30;
    color: #e8e8e8;
    border-radius: 10px 10px 0 10px;
    border: 4px outset #d4cbcb;
    box-shadow: 3px 3px 3px 2px darkslategray;
}

/*psuedo-element shine animation left side*/
.button7::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}

/* psuedo-element shine animation right side */
.button7::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(192, 192, 192, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}

/* psuedo-elements for right- and left-side shine animations */
.button7:hover::before,
.button7:hover::after {
    transform: translateX(300px) skewX(-15deg);
    transition: 2s;
}

.button8 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border: none;
    background-color: rgb(107, 163, 187);
    color: #f2f2f2;
    box-shadow: 0 2px 2px rgba(155, 155, 155, 0.8);
}

.button8::after {
    content: "";
    display: inline-block;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: rgb(107, 163, 187);
}

.button8:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(155, 155, 155, 0.8);
}

.button8:hover::after {
    height: 100%;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    background-color: rgb(107, 163, 187);
}

.button8:active {
    box-shadow: 0 0 2px rgba(155, 155, 155, 0.8);
}

.button9 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(169, 54, 41);
    border: 3px dashed gold;
    color: #f4f4f4;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    animation: round 1s ease-in-out forwards;
}

.button9:hover {
    animation: square 1s ease-in-out forwards;
}